* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .AppContainer {
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: row;
    font-family: Tahoma, sans-serif;
  }
