.ExplorerGroup {
    .ExplorerGroup {
        padding-left: 10px;
    }

    .ExplorerGroupHeader {
        cursor: pointer;
        position: relative;
        user-select: none;

        &:hover {
            background-color: lightgray;
        }
    }
}